/target/
!.mvn/wrapper/maven-wrapper.jar

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

*.iml
out
gen

dao/src/main/resources/mybatis_generator.properties

target/
target/*
/client/target/
client/target/
client/target/*
/common/target/
common/target/
common/target/*
server/target/
server/target/*
dao/target/
dao/target/*
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.DS_Store
/.idea/

*.iws
*.iml
*.ipr
*.bak


# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

LOG_PATH_IS_UNDEFINED/
/LOG_PATH_IS_UNDEFINED/